
<div class="card-body">
  <form novalidate
        #productForm="ngForm">
    <fieldset>
      <legend>Basic Product Tag</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="productNameId">Product Tag</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="productTagId"
                 type="text"
                 placeholder="Tag"
                 minlength="3"
                 [(ngModel)]=product.tag
                 name="productTag"
                 #productTagVar="ngModel"
                 [ngClass]="{'is-invalid': (productTagVar.touched ||
                                            productTagVar.dirty ||
                                            product.productId !== 0) &&
                                            !productTagVar.valid }"/>
          <span class="invalid-feedback">
            <span *ngIf="productTagVar?.errors?.minlength">
              Product tag must be at least three characters.
            </span>
          </span>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class='alert alert-danger'
     *ngIf='errorMessage'>{{errorMessage}}
</div>

